.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.img {
  width: 200px;
  height: 200px;
}

@media only screen and (max-width: 426px) {
  .container {
    flex-direction: column;
  }
  .img {
    width: 100px;
    height: 100px;
    align-content: center;
  }
}
