.footer {
  background-color: white !important;
}
.instagram,
.twitter,
.facebook,
.envelope {
  color: white;
}

.facebook:hover {
  color: #3b5998;
  transform: scale(1.4);
}

.twitter:hover {
  color: #35bfe9;
  transform: scale(1.4);
}

.instagram:hover {
  color: #fb3958;
  transform: scale(1.3);
}

.envelope:hover {
  color: #f01906;
  transform: scale(1.4);
}

@media only screen and (max-width: "426px") {
  .instagram,
  .twitter,
  .facebook,
  .envelope {
    font-size: small;
  }
}
