.content_img {
  position: relative;
  width: 100%;
  height: 81%;
}
.content_img div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  color: black;
  margin-bottom: 5px;
  font-family: "Lobster";
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover {
  cursor: pointer;
}

.content_img:hover div {
  width: 100%;
  bottom: 0;
  visibility: visible;
  opacity: 0.6;
}

@media only screen and (max-width: 426px) {
  .image {
    width: "10px";
    height: "10px";
  }
  .content_img {
    height: 82%;
  }
  .content_img div {
    background-color: rgba(214, 214, 214, 0.3);
    color: black;
    visibility: visible;
    opacity: 1;
  }
  .service {
    padding-top: 32px;
    padding: 32px;
  }
}
