h1 {
  color: orange;
  margin-left: 30px;
}
.nav {
  color: rgba(0, 0, 0, 0.4);
}

.fixed-header {
  position: fixed;
  color: orange !important;
  background-color: rgb(252, 236, 236);

  width: 100%;
  height: 90px;
  z-index: 100 !important ;
}
.link:hover {
  color: whitesmoke;
}

@media all and (max-width: "425px") {
  img {
    width: 40px;
    height: 40px;
  }
  .fixed-header {
    height: 50px;
  }
}
