@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&display=swap");

h1 {
  color: black;
  margin-left: 30px;
}
.header {
  height: 20px !important;
}
.nav {
  top: 0;
  color: white;
}
.nav:hover {
  color: black;
}
.logo {
  margin-top: 5px !important;
}
.fixed-header {
  position: fixed;
  background-color: white;
  color: black !important;
  width: 99%;
  height: 70px;
  z-index: 100 !important ;
}

.link {
  font-family: "Dancing Script", cursive !important;
}

/* @media only screen  */

@media only screen and (max-width: 426px) {
  .fixed-header {
    height: 93px;
    width: 100%;
    top: 0;
  }
}
