h1 {
  color: black;
  margin-left: 30px;
}
.nav {
  color: white;
}
.nav:hover {
  color: black;
}
.logo { 
  margin-top: 5px !important;
}
.fixed-header {
  position: fixed;
  background-color: #ee2e9f;
  color: black !important;
  width: 99%;
  height: 90px;
  z-index: 100 !important ;
}

@media all and (max-width: "425px") {
  img {
    width: 40px;
    height: 40px;
  }
  .fixed-header {
    height: 50px;
  }
}
